.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px 20px 0px 20px;
  border: 2px solid #0b5ed7;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.units {
  position: relative;
  font-size: small;
  top: -30px;
}
.units a {
  text-decoration: none;
}
